th {
  background-color: #6c757d;
  color: white;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  width:250px; 
  height:350px;
}

.card-body {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: 2%;
  padding-right: 2%;
  width:250px;
  height:30px;
}

li ul.tagGenres{
  display: inline-block;
  padding: 0%;
}

.myContainer {
  padding-left: 3%;
  padding-right: 3%;
}

ul.tagGenres li{
  display: inline-block;
  margin: 2px;
}

ul.tagGenres li a{
  border: 2px solid black;
  padding: 2px;
}

div#carouselExampleIndicators {
  margin-left: auto;
  margin-right: auto;
}

.myNavContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.navbar > .myNavContainer{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-expand-lg > .myNavContainer{
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

.comments-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-comments .comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-comments .media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}

.post-comments .media-heading {
  font-size: 12px;
  color: grey;
}

.post-comments .comment-meta a {
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}